<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.drexel.remedy.login.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RegisterNewUser</display-name>
		<servlet-name>RegisterNewUser</servlet-name>
		<servlet-class>com.drexel.remedy.login.RegisterNewUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>redirectServlet</display-name>
		<servlet-name>redirectServlet</servlet-name>
		<servlet-class>com.drexel.remedy.login.RedirectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPasswordScreen</display-name>
		<servlet-name>ForgotPasswordScreen</servlet-name>
		<servlet-class>com.drexel.remedy.login.ForgotPasswordServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>AddNewDoctorServlet</display-name>
		<servlet-name>AddNewDoctorServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.AddNewDoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewHospitalServlet</display-name>
		<servlet-name>AddNewHospitalServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.AddNewHospitalServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchDoctorServlet</display-name>
		<servlet-name>SearchDoctorServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.SearchDoctorServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>SearchHospitalServlet</display-name>
		<servlet-name>SearchHospitalServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.SearchHospitalServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>SearchNewChamberServlet</display-name>
		<servlet-name>SearchNewChamberServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.SearchNewChamberServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>AddNewChamberServlet</display-name>
		<servlet-name>AddNewChamberServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.AddNewChamberServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MakeAnAppointmentServlet</display-name>
		<servlet-name>MakeAnAppointmentServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.MakeAnAppointmentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchAppointmentServlet</display-name>
		<servlet-name>SearchAppointmentServlet</servlet-name>
		<servlet-class>com.drexel.remedy.logic.SearchAppointmentServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterNewUser</servlet-name>
		<url-pattern>/RegisterNewUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>redirectServlet</servlet-name>
		<url-pattern>/redirectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordScreen</servlet-name>
		<url-pattern>/ForgotPasswordScreen</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>AddNewDoctorServlet</servlet-name>
		<url-pattern>/AddNewDoctor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchDoctorServlet</servlet-name>
		<url-pattern>/SearchDoctorServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>SearchHospitalServlet</servlet-name>
		<url-pattern>/SearchHospitalServlet</url-pattern>
	</servlet-mapping>
			<servlet-mapping>
		<servlet-name>SearchNewChamberServlet</servlet-name>
		<url-pattern>/SearchChamberServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchAppointmentServlet</servlet-name>
		<url-pattern>/SearchAppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewHospitalServlet</servlet-name>
		<url-pattern>/AddNewHospital</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>AddNewChamberServlet</servlet-name>
		<url-pattern>/AddNewChamber</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>MakeAnAppointmentServlet</servlet-name>
		<url-pattern>/MakeAnAppointment</url-pattern>
	</servlet-mapping>
	
	
<welcome-file-list>
    <welcome-file>RemedyHomePage.jsp</welcome-file>
</welcome-file-list>
</web-app>